<div>
  <h1>Upload clicker questions, images for past term and current term</h1>
  <button style="position: absolute; top: 0; right: 0;" (click)="this.authService.logout()">Logout</button>
</div>

<div class="container">
  <div class="previous">
    <h2>Previous Term</h2>
    <mat-checkbox [checked]="usePreexistTerm" (change)="usePreexistTerm = !usePreexistTerm">Use a preexist term?</mat-checkbox>
    <div *ngIf="!usePreexistTerm">
      Input term name: <input [(ngModel)]="prevTerm" type="text" placeholder="E.g. CSE100FA2018">
    </div>
    <div *ngIf="usePreexistTerm">
      <h4 style="display: inline-block;">Select a term you want to use:</h4>
      <form style="display: inline-block;">
        <select name="weeks" [(ngModel)]="prevTerm">
          <option value="CSE100FA2018">CSE100FA2018</option>
          <option value="CSE101FA2018">CSE101FA2018</option>
          <option value="CSE105FA2018">CSE105FA2018</option>
          <option value="CSE110FA2018">CSE110FA2018</option>
          <option value="CSE120FA2018">CSE120FA2018</option>
        </select>
      </form>
    </div>


    <div *ngIf="prevTerm != '' && !usePreexistTerm">
      <div class="chooseFile">Clicker images: <input type="file" (change)="onFilesSelected($event, 0)" multiple /></div>
      <div class="chooseFile">Student clicker responses: <input type="file" (change)="onFilesSelected($event, 1)"
          multiple /></div>
      <div class="chooseFile">Final scores: <input type="file" (change)="onFilesSelected($event, 2)" multiple /></div>
    </div>
  </div>

  <div class="current">
    <h2>Current Term</h2>
    <div>
      Input term name: <input [(ngModel)]="currTerm" type="text" placeholder="E.g. CSE100FA2018">
    </div>

    <div *ngIf="currTerm != ''">
      <div class="chooseFile">Clicker images: <input type="file" (change)="onFilesSelected($event, 3)" multiple /></div>
      <div class="chooseFile">Student clicker responses: <input type="file" (change)="onFilesSelected($event, 4)"
          multiple /></div>
      <div class="chooseFile">Final scores: <input type="file" (change)="onFilesSelected($event, 5)" multiple /></div>
    </div>
  </div>
  <button type="button" (click)="onUpload()">Submit</button>
  <h2>Percentage is {{percentage}}%</h2>
  <progress-bar class='progress' [progress]='progress | async' [color]="'#488aff'"></progress-bar>
  <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
    <h3>AngularFire Drop Zone</h3>

    <div class="file">
      <label class="file-label">


        <input class="file-input" type="file" (change)="startUpload($event.target.files)">


        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload"></i>
          </span>
          <span class="file-label">
            or choose a file…
          </span>
        </span>
      </label>
    </div>
  </div>
  <div style="float: right;">
    <nav>
      <button routerLink="/navigator/upload">NEXT</button>
    </nav>
  </div>
  <ul>
    <li *ngFor="let name of fileNames">
      {{ name }}
    </li>
  </ul>
  <img id="one" src="">
</div>
