<div>
  <h1>Upload clicker questions, images for past term and current term</h1>
  <button style="position: absolute; top: 0; right: 0;" (click)="logout()">Logout</button>
</div>

<div class="container">
  <div class="previous">
    <h2>Previous Term</h2>
    <mat-checkbox [checked]="usePreexistTerm" (change)="usePreexistTerm = !usePreexistTerm">Use a preexist term?</mat-checkbox>
    <div *ngIf="!usePreexistTerm">
      Input term name: <input [(ngModel)]="prevTerm" type="text" (keyup)="checkPrevTermName()" placeholder="E.g. CSE100FA2018">
      <!--Input term name: <input id="prevTermName" name="prevTermName" class="form-control" required minlength="1" #name="ngModel" [(ngModel)]="prevTerm" type="text" (keyup)="checkTermName()" placeholder="E.g. CSE100FA2018">
      <div *ngIf="prevTermName.invalid && (prevTermName.dirty || prevTermName.touched)"
           class="alert alert-danger">
      </div>-->
    </div>

    <div *ngIf="usePreexistTerm">
      <h4 style="display: inline-block;">Select a term you want to use:</h4>
      <form style="display: inline-block;">
        <select name="weeks" [(ngModel)]="prevTerm" >
          <option *ngFor="let optionTerm of prevTermsCreated" value="{{optionTerm}}">{{optionTerm}}</option>
        </select>
      </form>
    </div>


    <div *ngIf="prevTerm != ''&& prevTerm!=currTerm && !usePreexistTerm && !samePrevTermName">
      <div class="chooseFile">Select zip file: <input type="file" (change)="tempStore($event,0)" webkitdirectory directory multiple /></div>
    </div>
  </div>

  <div class="current">
    <h2>Current Term</h2>
    <div>
      Input term name: <input [(ngModel)]="currTerm" type="text" (keyup)="checkCurrTermName()" placeholder="E.g. CSE100FA2018">
    </div>

    <div *ngIf="currTerm != '' && prevTerm != currTerm && !sameCurrTermName">
      <div class="chooseFile">Select zip file: <input type="file" (change)="tempStore($event, 1)" webkitdirectory directory multiple/></div>
    </div>

  </div>
  <div *ngIf="prevTerm == currTerm && prevTerm!=''">Warning: previous term name cannot be the same as current term name </div>
  <div *ngIf="samePrevTermName">Warning: same name as preexisting term. Please tick checkbox to use the preexisting term. </div>
  <div *ngIf="sameCurrTermName">Warning: current term name cannot be a preexisting term name </div>

  <div *ngIf="( prevTermZip != null  || usePreexistTerm) && currTermZip != null">
    <button type="button" (click)="onUpload()">Submit</button>
  </div>
  <br />
  <br />
  <progress-bar class='progress' [progress]=' allPercentageObservablePrevious | async' [color]="'#488aff'"></progress-bar>
  <progress-bar class='progress' [progress]=' allPercentageObservableCurrent | async' [color]="'#488aff'"></progress-bar>
  <p> Amount of Progress uploading images to Online Storage</p>
  <br />
  <br />
  <div>
    <div class="center">
      <mat-spinner *ngIf="startSpinning && !(numFilePrev===totalFilesPrev && numFileCurr===totalFilesCurr)">
      </mat-spinner>
      <h4 *ngIf="startSpinning && !(numFilePrev===totalFilesPrev && numFileCurr===totalFilesCurr)"> Updating image metadata to database </h4>
    </div>
    <div *ngIf="(numFilePrev===totalFilesPrev && numFileCurr===totalFilesCurr)" style="float: right;">
      <nav>
        <button routerLink="/navigator/upload">NEXT</button>
      </nav>
    </div>
  </div>

</div>
