


<div *ngIf="lenVal > 0" class="cdk-virtual-scroll-data-source-example">
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="100" minBufferPx="20000" maxBufferPx="40000" class="example-viewport">
    <div *cdkVirtualFor="let url of allImages; let i = index;" class="example-item">
      <h5>Question {{i}}</h5>
      <img src="{{( url | async )?.data().downloadURL}}" width="500px"/>
      <form [formGroup]="boxOne.boxVal">
        <div><h4>Classification of this Question</h4></div>
        <div *ngFor="let data of boxValues">
          <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxOne.disabledRadioButton || null"
                 (click)="updateChecked(10)"> {{data.opt}}<br>
        </div>
      </form>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<p> {{allImages}}</p>

<!--<div>
  boxOne: {{this.boxOne.radioClicked }} <br>
  boxOneRelation: {{this.boxOneRelation.radioClicked}} <br>
  boxTwo: {{this.boxTwo.radioClicked }}  <br>
  boxTwoRelation: {{ this.boxTwoRelation.radioClicked}}  <br>
  boxThree: {{this.boxThree.radioClicked }} <br>
  boxThreeRelation: {{ this.boxThreeRelation.radioClicked}} <br>
  TwoHidden: {{this.boxTwo.imgIndex >= prevTermGrouping.numImages}} <br>
  ThreeHidden: {{this.boxThree.imgIndex >= prevTermGrouping.numImages}}  <br>
  imagesFinished: {{imagesFinished}} <br/>
  previmageIndex: {{prevTermGrouping.imageIndex}} <br>
  prevnumImages: {{ prevTermGrouping.numImages }}<br>
  currimageIndex: {{currTermGrouping.imageIndex}} <br>
  currnumImages: {{ currTermGrouping.numImages }}<br>
  boxOneValue: {{boxOne.imgIndex}} <br />
  boxTwoValue: {{boxTwo.imgIndex}} <br />
  boxThreeValue: {{ boxThree.imgIndex}} <br />
</div>-->


