<!--
<div>
  <div class="title">
    <h2 style="color: white">Classify Questions</h2>
    <button mat-raised-button class="logoutButton" (click)="logout()">Save & Logout</button>
  </div>

  <br>
  <br>
  <br>

  <h2 style="padding: 1%" *ngIf="!prevTermGrouping.needGrouping">
    You have finished previous term grouping.
  </h2>
  <div *ngIf="prevTermGrouping.needGrouping">
    <div class="row">
      <h2>Previous Term</h2>
      <div class="col-lg-4" *ngIf="boxOne.imgIndex<prevTermGrouping.numImages">
        <h2> Question {{boxOne.imgIndex+1}}</h2>
        <img src="{{(boxOne.imageSourceURL | async)?.data().downloadURL}}" width="75%" />
        <form [formGroup]="boxOneRelation.boxVal">
          <div><h4>Relation to the Previous Question</h4></div>
          <div *ngFor="let data of relationToPreImg">
            <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxOneRelation.disabledRadioButton || null"
                   (click)="updateChecked(11)"> {{data.opt}}<br>
          </div>
        </form>
        <br>
        <form [formGroup]="boxOne.boxVal">
          <div><h4>Classification of this Question</h4></div>
          <div *ngFor="let data of boxValues">
            <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxOne.disabledRadioButton || null"
                   (click)="updateChecked(10)"> {{data.opt}}<br>
          </div>
        </form>
      </div>

      <div class="col-lg-4" *ngIf="boxTwo.imgIndex<prevTermGrouping.numImages">
        <h2> Question {{boxTwo.imgIndex+1}}</h2>
        <img src="{{(boxTwo.imageSourceURL | async)?.data().downloadURL}}" width="75%" />
        <form [formGroup]="boxTwoRelation.boxVal">
          <div><h4>Relation to the Previous Question</h4></div>
          <div *ngFor="let data of relationToPreImg">
            <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxTwoRelation.disabledRadioButton || null"
                   (click)="updateChecked(21)"> {{data.opt}}<br>
          </div>
        </form>
        <br>
        <form [formGroup]="boxTwo.boxVal">
          <div><h4>Classification of this Question</h4></div>
          <div *ngFor="let data of boxValues">
            <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxTwo.disabledRadioButton || null"
                   (click)="updateChecked(20)"> {{data.opt}}<br>
          </div>
        </form>
      </div>

      <div class="col-lg-4" *ngIf="boxThree.imgIndex<prevTermGrouping.numImages">
        <h2> Question {{boxThree.imgIndex+1}}</h2>
        <img src="{{(boxThree.imageSourceURL | async)?.data().downloadURL}}" width="75%" />
        <form [formGroup]="boxThreeRelation.boxVal">
          <div><h4>Relation to the Previous Question</h4></div>
          <div *ngFor="let data of relationToPreImg">
            <input type="radio" formControlName="option" value="{{data.opt}}" (click)="updateChecked(31)"> {{data.opt}}<br>
          </div>
        </form>
        <br>
        <form [formGroup]="boxThree.boxVal">
          <div><h4>Classification of this Question</h4></div>
          <div *ngFor="let data of boxValues">
            <input type="radio" formControlName="option" value="{{data.opt}}" (click)="updateChecked(30)"> {{data.opt}}<br>
          </div>
        </form>
      </div>

    </div>
  </div>
  <h2 style="padding: 1%" *ngIf="!currTermGrouping.needGrouping && !prevTermGrouping.needGrouping">
    You have finished current term grouping.
  </h2>
  <div *ngIf="currTermGrouping.needGrouping && !prevTermGrouping.needGrouping">
    <div class="row">
      <h2>Current Term</h2>
      <div class="col-lg-4" *ngIf="boxOne.imgIndex<currTermGrouping.numImages">
        <h2> Question {{boxOne.imgIndex+1}}</h2>
        <img src="{{(boxOne.imageSourceURL | async)?.data().downloadURL}}" width="100%" />
        <form [formGroup]="boxOneRelation.boxVal">
          <div><h4>Relation to the Previous Question</h4></div>
          <div *ngFor="let data of relationToPreImg">
            <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxOneRelation.disabledRadioButton || null"
                   (click)="updateChecked(11)"> {{data.opt}}<br>
          </div>
        </form>
        <br>
        <form [formGroup]="boxOne.boxVal">
          <div><h4>Classification of this Question</h4></div>
          <div *ngFor="let data of boxValues">
            <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxOne.disabledRadioButton || null"
                   (click)="updateChecked(10)"> {{data.opt}}<br>
          </div>
        </form>
      </div>

      <div class="col-lg-4" *ngIf="boxTwo.imgIndex<currTermGrouping.numImages">
        <h2> Question {{boxTwo.imgIndex+1}}</h2>
        <img src="{{(boxTwo.imageSourceURL| async)?.data().downloadURL}}" width="100%" />
        <form [formGroup]="boxTwoRelation.boxVal">
          <div><h4>Relation to the Previous Question</h4></div>
          <div *ngFor="let data of relationToPreImg">
            <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxTwoRelation.disabledRadioButton || null"
                   (click)="updateChecked(21)"> {{data.opt}}<br>
          </div>
        </form>
        <br>
        <form [formGroup]="boxTwo.boxVal">
          <div><h4>Classification of this Question</h4></div>
          <div *ngFor="let data of boxValues">
            <input type="radio" formControlName="option" value="{{data.opt}}" [attr.disabled]="this.boxTwo.disabledRadioButton || null"
                   (click)="updateChecked(20)"> {{data.opt}}<br>
          </div>
        </form>
      </div>

      <div class="col-lg-4" *ngIf="boxThree.imgIndex<currTermGrouping.numImages">
        <h2> Question {{boxThree.imgIndex+1}}</h2>
        <img src="{{(boxThree.imageSourceURL| async)?.data().downloadURL}}" width="100%" />
        <form [formGroup]="boxThreeRelation.boxVal">
          <div><h4>Relation to the Previous Question</h4></div>
          <div *ngFor="let data of relationToPreImg">
            <input type="radio" formControlName="option" value="{{data.opt}}" (click)="updateChecked(31)"> {{data.opt}}<br>
          </div>
        </form>
        <br>
        <form [formGroup]="boxThree.boxVal">
          <div><h4>Classification of this Question</h4></div>
          <div *ngFor="let data of boxValues">
            <input type="radio" formControlName="option" value="{{data.opt}}" (click)="updateChecked(30)"> {{data.opt}}<br>
          </div>
        </form>
      </div>

    </div>



  </div>
</div>

<div style="text-align: right">
  <div style="display:inline-block">
    <button mat-raised-button class="activeButton" *ngIf="!prevTermGrouping.termFinishedAnswering" [disabled]="!allChecked('prev')" (click)="nextImage('prev')"> Next</button>
    <button mat-raised-button class="activeButton" *ngIf="prevTermGrouping.termFinishedAnswering" [disabled]="!allChecked('curr') || imagesFinished" (click)="nextImage('curr')"> Next</button>
  </div>
  &nbsp;
  <div style="display:inline-block">
    <button mat-raised-button class="finishButton" *ngIf="imagesFinished" routerLink="/navigator/classify">Finish</button>
  </div>

</div>
-->
