div {
  text-align: center;
}

button {
  background-color: #488AFF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  right: 50px;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.title {
  width: 100%;
  background-color: #488AFF;
  position: absolute;
  top: 0;
  padding-bottom: 10px;
}

.container {
  width: 100%;
}

.progressbar {
  counter-reset: step;
  padding-top: 100px;
}

.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  padding-bottom: 5vw;
  font-size: 3vw;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  font-size: 3vw;
  width: 7vw;
  height: 7vw;
  line-height: 7vw;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1vw;
  background-color: #ddd;
  top: 3.5vw;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li:nth-child(4):after {
  content: none;
}

.progressbar li.half-active:before {
  background: linear-gradient(90deg, yellowgreen 50%, #fff 50%);
}

.progressbar li.active {
  color: green;
}

.progressbar li.active:before {
  border-color: green;
  content: '\2713';
  font-size: 3vw;
  background-color: yellowgreen;
}

.progressbar li.active+li:after {
  background-color: green;
}
