div {
  text-align: center;
  font-family: Tahoma;
}

.csv-file-chooser-section {
  margin: 2%;
}

.csv-result-table {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid teal;
}

th {
  text-align: center;
  color: teal;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background: lightgray;
}

