div {
  text-align: center;
}

.csv-file-chooser-section {
  margin: 2%;
}

.csv-result-table {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

th {
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background: lightgray;
}

.title {
  text-align: center;
  width: 100%;
  background-color: #488AFF;
  position: absolute;
  top: 0;
  padding-bottom: 10px;
}

button {
  background-color: #488AFF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.exportButton {
  background-color: #F4F4F4;
  color: black;
}
