<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="container">

  <div class="row">
    <div class="col-lg-6">
      <h2> Select Answer</h2>
      <img [src]="imageNames[imageIndex]" width="500px"/>
    </div>
    <div class="col-lg-6">
      <h4>Correct Answer</h4>
      <form [formGroup]="specificAnswers">
        <div *ngFor="let data of boxValues">
          <input type="checkbox" name="multipleChoice" formControlName="{{data.opt[0]}}"> {{data.opt}}<br>
        </div>
      </form>
      <button (click)="showVal()"> SHOW VALUES</button>
      <button [disabled]="imagesFinished" (click)="nextImage()"> Next</button>
      <button *ngIf="imagesFinished" routerLink="../navigator/choose-ans"> Finish </button>
      <ng-container></ng-container>
    </div>
  </div>
</div>

<pre>Form values: {{allAnswers.value | json}}</pre>
