<div>
    <h1>Upload clicker questions, images for past term and current term</h1>
</div>

<div class="container">
    <div class="previous">
        <h2>Previous Term</h2>
        <div class="chooseFile">Clicker images: <input type="file" (change)="onFilesSelected($event)" multiple/></div>
        <div class="chooseFile">Student clicker responses: <input type="file" (change)="onFilesSelected($event)" multiple/></div>
        <div class="chooseFile">Final scores: <input type="file" (change)="onFilesSelected($event)" multiple/></div>
    </div>
    <div class="current">
        <h2>Current Term</h2>
        <div class="chooseFile">Clicker images: <input type="file" (change)="onFilesSelected($event)" multiple/></div>
        <div class="chooseFile">Student clicker responses: <input type="file" (change)="onFilesSelected($event)" multiple /></div>
        <div class="chooseFile">Final scores: <input type="file" (change)="onFilesSelected($event)" multiple/></div>
    </div>
    <button type="button" (click)="onUpload()">Submit</button>
    <h2>Percentage is {{percentage}}%</h2>
</div>