<!--<head>
  <meta charset="utf-8" />
  <title>Prediction Model</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="./PapaParse-4.6.0/papaparse.js"></script>
</head>
-->
<div>
  <h1>Process the clicker data</h1>
</div>
<button style="position: absolute; top: 0; right: 0;" (click)="logout()">Logout</button>
<h2 align="center">Before processing the data, you can also select how many weeks of data to include:
  <h2 style="display: inline-block;">
    <form>
      <select name="weeks">
        <option value="0"></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </form>
  </h2>
</h2>

<div>
  <h2 style="display: inline-block;">Add other score components:</h2><br>

  <label class="container">Clicker
    <input type="checkbox" checked disabled>
    <span class="checkmark"></span>
  </label>

  <label class="container">Prerequisite
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <label class="container">Midterm
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <label class="container">Quiz
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <!--<div class="column">-->
  <label class="container">Assignment
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
</div>

<div class="center">
  <progress-bar [progress]=percentage [color]="'#488aff'"></progress-bar>
  <h2 align="center">Percentage is {{percentage}}%</h2>
  <button (click)="onUpload()">Process</button>
</div>

<div style="float: right;">
  <nav>
    <button routerLink="/navigator/process">NEXT</button>
  </nav>
</div>

<div>
  <button type="button" (click)="downloadcsv()">Download</button>
</div>
