<!--<head>
  <meta charset="utf-8" />
  <title>Prediction Model</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="./PapaParse-4.6.0/papaparse.js"></script>
</head>
-->
<div class="title">
  <h2 style="color: white">Process Clicker Data</h2>
</div>
  <!--<button style="position: absolute; top: 0; right: 0; margin: 10px;" (click)="logout()">Logout</button>-->
  <div style="margin-top: 100px;">
    <h3>Before processing, you can also select how many weeks of data to include:
      <h4 style="display: inline-block;">
        <form>
          <select name="weeks">
            <option value="0"></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </form>
      </h4>
    </h3>

    <div>
      <button *ngIf=!showSpinner mat-raised-button class="processButton" (click)="openDialog()">Process</button>
      <mat-spinner *ngIf=showSpinner style="margin:0 auto;"></mat-spinner>
    </div>
    <!--
  <div>
    <h4 style="display: inline-block;">Add other score components:</h4><br>
  
    <label class="container">Clicker
      <input type="checkbox" checked disabled>
      <span class="checkmark"></span>
    </label>
  
    <label class="container">Prerequisite
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  
    <label class="container">Midterm
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  
    <label class="container">Quiz
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  
    <label class="container">Assignment
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
-->
  </div>



<div>
</div>

<button mat-raised-button class="nextButton" *ngIf="startProcess && !showSpinner" routerLink="/navigator/process">Next</button>

<!--<div>
  <button type="button" (click)="downloadcsv()">Download</button>
</div>-->
